.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nav-items{
    font: 15px solid black;
    font-weight: bolder;
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    cursor: pointer;
}