
  .hero-container {
      background: url(../../../public/package_bg.avif) no-repeat center bottom;

      background-size: cover;
      height: 400px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .search-bar {
      background: transparent;
      padding: 15px;
      justify-content:right;
      border-radius: 50px;
      width: 60%;
      max-width: 600px;
    }
    .form-control::placeholder{
      color : rgba(255,255,255,0.8)
    }

    .nav-btn{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
.card-img-top {
  transition: border-radius 0.3s ease;

}

.card-img-top:hover {
  border-radius: 1rem; 
  filter: brightness(0.8);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.card-image-container {
  position: relative;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
}


/* .card {
  flex: 0 0 auto;
} */
