.navbar {
  /* background: linear-gradient(90deg, #1e3c72, #2a5298); Deep blue gradient */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.navbar-brand {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.nav-right .btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.nav-right .btn:hover {
  background-color: #ffffff;
  color: #2a5298;
}