<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200">

  <div *ngFor="let toast of toastService.toasts" class="toast fade show" [ngClass]="toast.classname" role="alert"
    aria-live="assertive" aria-atomic="true">

    <div class="toast-header">
      <strong class="me-auto" *ngIf="toast.classname === 'bg-success text-light'; else error">Success</strong>

      <ng-template #error><strong class="me-auto">Error</strong></ng-template>
      <button type="button" class="btn-close" (click)="toastService.remove(toast)" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ toast.message }}
    </div>

  </div>
</div>